---
wifi_ssid: "MyIotSSID"
wifi_password: "password"
wifi_ap_password: "password"

# See https://esphome.io/components/api.html#configuration-variables for suitable keys
api_encryption_key: "izCBp7sD4zGKzIe1I5nRWag0jxPUNJbtx+X55dOPnRI="
